*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #110720;
}
.nav-links{
    display: flex;
    gap: 25px;
    list-style: none;
    padding-right: 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
}
.nav-links li a{
    color: aliceblue;
    text-decoration: none;
    
}
header{
    background-color: #110720;
    border-bottom: 1px solid rgb(48, 47, 47);
    
}
.logo{
    color: aliceblue;
    padding-left: 210px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    display: flex;
    /* justify-content: space-between; */
    gap: 800px;
    align-items: center;
    height: 90px;
}
#logo-img{
    width: 90px;     
    height: auto;
}
.hero-section-div-1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    padding-left: 300px;
    padding-top: 37px;
}
.highlight{
    color: #812AFE;
}
.arrow{
    width: 90px;     
    height: auto;
}
.text-1{
    font-size: 23px;
}
.white-spot{
    width: 250px;     
    height: auto;
}
.guy{
    width: 200px;     
    height: auto;
     position: absolute;
    left: 153px;
    top: 218px;
}
.hero-section-div-2-left-2{
    position: relative;
}

.hero-section-div-right-1{
    color: white;
}
.hero-section-div-2{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 135px;
}
.hero-section-div-right-1-text-1{
    font-size: 26px;
}
.hero-section-div-right-1-text-2{
    font-size: 75px;
    font-weight: 600;
}
.hero-section-div-3{
    color: white;
    padding-left: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-section-div-3-text-1{
    font-size: 46px;
    font-weight: 900;
    border-right: 6px solid white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s,steps(25),
        cursor .4s step-end infinite alternate;
    
}
@keyframes cursor{
    50% {border-color: transparent;}
}
@keyframes typing{
    from {width: 0;}
}
.hero-section-div-3-text-2{
    font-size: 22px;
    font-weight: 500;
}
#hero-section-div-3-text-2-id{
    padding-top: 39px;
}
.animated-text{
    display: inline-block;
}
.section-2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 124px;

} 
.section-2-text-1{
    font-size: 41px;
}
.section-2-text-2{
    font-size: 22px;
}
.illustration{
    width: 519px;
    height: auto;
    padding-top: 50px;
}
.section-3{
    color: white;
    display: flex;
    /* justify-content: space-around; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 150px;
    left: 120px;
}
.project-1{
    height: auto;
    width: 600px;
    position: relative;
    z-index: 1;
    left: 160px;
    border: 15px solid #020618;
    border-radius: 37px;
}
.section-3-left-div-text-1{
    color: #812AFE;
    font-size: 28px;
}
.section-3-left-div-text-2{
    font-size: 49px;
    font-weight: 900;
}
.section-3-left-div-text-3{
    font-size: 20px;
    position: absolute;
    z-index: 3;
    top: 195px;
    left: 20px;
    
}
.section-3-left-div{
    opacity: 20%;
    height: 170px;
    width: 730px;
    position: absolute;
    top: 175px;
    z-index: 2;
    border-radius: 10px;
    background: rgba(200, 197, 203, 1);
    backdrop-filter: blur(10px);
}
.section-4{
    color: white;
    display: flex;
    /* justify-content: space-around; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 270px;
    left: 120px;
}
.project-2{
    height: auto;
    width: 600px;
    position: relative;
    border: 15px solid #020618;
    border-radius: 37px;
    
}
.section-4-right{
    padding-left: 40px;
}
.section-4-right-div-text-1{
    color: #812AFE;
    font-size: 28px;
}
.section-4-right-div-text-2{
    font-size: 49px;
    font-weight: 900;
}
.section-4-right-div-text-3{
    font-size: 20px;
    position: absolute;
    z-index: 3;
    top: 195px;
    right: 350px;
    
}
.section-4-right-div{
    opacity: 20%;
    height: 120px;
    width: 730px;
    position: absolute;
    top: 175px;
    z-index: 2;
    border-radius: 10px;
    background: rgba(200, 197, 203, 1);
    backdrop-filter: blur(10px);
    left: 550px;
}